# Peer-graded Assignment: Capstone Project - The Battle of Neighborhoods


## Working with geocoder library to get latitude and longitude coordinates of each neighborhood. 

#### Libraries import

In [7]:
import numpy as np
import pandas as pd
import geocoder

Since we have some issues with the geocoder library, we have to download the diffirent \
geographical coordinates of each postal code from the link below

In [12]:
url = 'http://cocl.us/Geospatial_data'

In [26]:
# Importing the cleaned dataframe

df = pd.read_csv('cleaned_data.csv')
df = df.drop(['Unnamed: 0'], axis = 1)
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A  Downtown Toronto                     Queen's Park

In [27]:
# Importing the geographical coordinates dataframe

df2 = pd.read_csv(url)
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [29]:
# Rename Postal Code to Postcode
df2.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
df2.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

### Merging the two dataframe on the Postcode column

In [31]:
df3 = pd.merge(df,df2, on='Postcode')
df3.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494

In [33]:
# Exporting the merged data frame

df3.to_csv('merged_data.csv', index=None)